In [33]:
import sqlite3

In [34]:
db_path = 'concerts.db'
conn = sqlite3.connect(db_path)

In [35]:
import pandas as pd

In [36]:
db_table_names = ('artist', 'customer', 'genre', 'performance', 'ticket', 'ticketpricing')
table_df_dict = dict()

for table_name in db_table_names:
    table_df_dict[table_name] = pd.read_sql_query(f'SELECT * FROM {table_name}', conn)

In [37]:
for table in table_df_dict:
    # print(table_df_dict[table].head())
    # print(f'{table} table shape is {table_df_dict[table].shape}')
    pass

# print(table_df_dict['ticket'].head())
# print(table_df_dict['ticketpricing'].head())

relevant_columns = ['artist name', 'genreName', 'performance name', 
                    'date?', 'ticket type', 'ticketPrice', 'ticketpricing type',
                    'ticketpricing price']
# genreName can be matched to one entry using idGenre
# performance name and date can be matched to one entry via idArtist
# ticket type, ticketPrice can be matched to one entry via idPerformance
# ticketpricing type, ticketpricing price can be matched to one entry via idPerformance
# can deduce the price of the ticket as it was intended from ticketpricing

In [38]:
df = pd.DataFrame()

df['Ticket Price'] = table_df_dict['ticket']['ticketPrice']
df['Ticket Category'] = table_df_dict['ticket']['type']

In [39]:
# assign a performance to each ticket using idPerformance

# approach 1: merge
# df['Performance'] = table_df_dict['ticket'].merge(
#     table_df_dict['performance'][['idPerformance', 'name']],
#     on='idPerformance',
#     how='left'
# )['name']

# approach 2: map
# create a mapping from idPerformance to name
performance_map = table_df_dict['performance'].set_index('idPerformance')['name']
# use map to add the Performance column
df['Performance'] = table_df_dict['ticket']['idPerformance'].map(performance_map)

df.tail()

    Ticket Price Ticket Category Performance
25           300               D    Imaginix
26          1800               B      Nirvex
27           750               B    Imaginix
28          1500               A    Adelaire
29             0               A         ABX