In [47]:
import sqlite3

In [48]:
db_path = 'concerts.db'
conn = sqlite3.connect(db_path)

In [49]:
import pandas as pd

In [50]:
db_table_names = ('artist', 'customer', 'genre', 'performance', 'ticket', 'ticketpricing')
table_df_dict = dict()

for table_name in db_table_names:
    table_df_dict[table_name] = pd.read_sql_query(f'SELECT * FROM {table_name}', conn)

In [ ]:
df = pd.DataFrame()

df['Ticket Price'] = table_df_dict['ticket']['ticketPrice']
df['Ticket Category'] = table_df_dict['ticket']['type']

In [52]:
merged_df = pd.merge(table_df_dict['artist'], table_df_dict['genre'], on='idGenre', how='left')

In [ ]:
merged_df_1 = pd.merge(table_df_dict['performance'], merged_df, on='idArtist', how='left')

In [ ]:
merged_df_2 = pd.merge(table_df_dict['ticket'], merged_df_1, on='idPerformance', how='left')

df['Artist'] = merged_df_2['name_x']
df['Genre'] = merged_df_2['genreName']
df['Performance Name'] = merged_df_2['name_y']
df['Performance Date'] = merged_df_2['date']

In [ ]:
df['Official Ticket Price'] = table_df_dict['ticket'].merge(
    table_df_dict['ticketpricing'][['idPerformance', 'Type', 'price']],
    left_on=['idPerformance', 'type'],
    right_on=['idPerformance', 'Type'],
    how='left'
)['price']

df.tail()

,Artist,Genre,Performance Name,Performance Date,Official Ticket Price
25,Imaginix,Pop,Imagine,2025-07-04 21:00:00,300
26,Nirvex,Rock,Nirvana,2025-07-05 21:30:00,1800
27,Imaginix,Pop,Imagine,2025-07-04 21:00:00,750
28,Adelaire,Pop,Adele,2025-06-19 20:30:00,1500
29,ABX,Pop,ABBA,2025-06-18 20:30:00,2000